@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato";
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 15vh;
  background-color: #0f8b8d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 170px;
  color: white;
}

header img {
  width: 300px;
  height: fit-content;
}

header nav ul {
  display: flex;
  justify-content: flex-end;
}

header nav ul li {
  margin: 0 20px;
  font-size: 25px;
}

main {
  margin: 100px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

main .product h3 {
  color: #0f8b8d;
  font-size: 50px;
  font-weight: 900;
}

main .product p {
  margin-top: 25px;
  color: #143642;
  font-size: 24px;
  font-weight: 400;
}

main .product h2 {
  color: #0f8b8d;
  margin-top: 55px;
  font-size: 56px;
  font-weight: 900;
}
main .description {
  /* margin: 0px 250px; */
  margin-top: 50px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .description .line {
  padding-bottom: 10px;
  width: 100%;
}

main .description .line .bottom {
  margin-top: 10px;
  justify-content: flex-start;
  display: flex;
  border-bottom: 4px solid #ec9a29;
  width: 300px;
}
main .description h1 {
  justify-content: flex-start;
  display: flex;
  width: 100%;
  color: #0f8b8d;
  font-size: 45px;
}

main .description p {
  color: #143642;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 400;
}

@media screen and (max-width: 1120px) {
  header {
    padding: 10px 80px;
    justify-content: space-between;
  }
  header img {
    width: 200px;
  }
  header nav ul li {
    margin: 0 8px;
    font-size: 18px;
  }
  main {
    margin: 100px 50px;
  }
  main .product img {
    width: 400px;
    height: fit-content;
  }
  main .product h3 {
    font-size: 30px;
  }

  main .product p {
    font-size: 15px;
    width: 80%;
  }

  main .product h2 {
    margin-top: 20px;
    font-size: 36px;
  }

  main .description h1 {
    font-size: 30px;
  }

  main .description p {
    font-size: 15px;
    margin-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  header nav {
    width: 100%;
  }
  header nav ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  main {
    margin: 100px 50px;
  }
  main .product {
    flex-direction: column;
    justify-content: center;
  }

  main .description {
    /* margin: 0px 250px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  main .product h3 {
    font-weight: 700;
  }

  main .product p {
    margin-top: 10px;
  }

  main .product h2 {
    margin-top: 10px;
  }
  main .product .detail {
    width: 100%;
  }
  main .description .line .bottom {
    width: 100%;
  }
}

/* footer */
footer {
  width: 100%;
  min-height: 500px;
  display: flex;
  justify-content: space-around;
  background-color: #143642;
  padding: 100px 20px;
  border-radius: 20px 20px 0 0;
}

footer .logo {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
footer .logo img {
  width: 400px;
  height: fit-content;
}
footer .logo .email {
  margin-top: 20px;
}

footer .logo .email img {
  width: 50px;
  height: fit-content;
  margin: 0px 10px;
}

footer .list {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}
footer .list .product {
  margin-right: 30px;
}
footer .list .product h3 {
  color: #ec9a29;
  font-weight: 700px;
}
footer .list .product ul {
  color: white;
  margin-top: 20px;
}

footer .list .product ul li {
  margin-bottom: 20px;
}

/* store */
footer .list .store {
  margin-right: 30px;
}
footer .list .store h3 {
  color: #ec9a29;
  font-weight: 700px;
}
footer .list .store ul {
  color: white;
  margin-top: 20px;
}

footer .list .store ul li {
  margin-bottom: 20px;
}

/* contact */
footer .list .contact h3 {
  color: #ec9a29;
  font-weight: 700px;
}
footer .list .contact ul {
  color: white;
  margin-top: 20px;
}

footer .list .contact ul li {
  margin-bottom: 20px;
}

@media screen and (max-width: 1120px) {
  footer {
    flex-direction: column;
    padding: 100px 40px;
  }

  footer .list {
    flex-direction: column;
  }

  footer .logo {
    flex-direction: row;
    items-align: center;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  footer .logo img {
    width: 300px;
    height: fit-content;
  }
  footer .logo .email {
    margin-top: 0px;
  }
}

@media screen and (max-width: 600px) {
  footer .logo img {
    width: 200px;
    height: fit-content;
  }
  footer .logo .email img {
    width: 30px;
    height: fit-content;
    margin: 0px 5px;
  }

  footer .list {
    font-size: 15px;
  }
}

/* akhir footer */
